@import './variables';

html {
  body {
    #app {
      .fa-plus {
        color: $color-primary;
      }

      .fa-ban {
        color: $color-danger;
      }

      .fa-check {
        color: $color-done;
      }
    }
  }
}


